body {
    margin: 0;
    padding: 0;
    background: black;
    color: #ffffffe6;
    font-family: 'Lato Light', "Segoe UI Light", sans-serif;
    overflow-x: hidden;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

h1 {
    margin: 0;
    font-weight: normal;
}

p {
    color: #ffffffe6;
    line-height: 1.4rem; /* Adjusted for readability */
    font-size: medium;
}

ol {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    font-size: x-large;
    font-weight: lighter;
}

.nav {
    width: 100%; /* Avoid potential scrollbar issues */
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: black;
    z-index: 1000;
}

.nav-container {
    width: 80vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn {
    padding: 10px 20px;
    border: 1px solid white;
}

.logo-wrapper {
    width: 100px;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.section {
    width: 98vw;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.sides-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.left-side, .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left-side {
    padding-left: 1rem;
}

.image-for-side, .service-image, .fourth_section-img {
    width: 90%;
}

.big-heading , .service-heading{
    font-size: xxx-large;
    font-weight: 400;
}

.hero-h1 {
    max-width: 90%;
    margin: 0;
}

.CTA-BTN {
    background: white;
    border: 2px solid whitesmoke;
    border-radius: 10%;
    padding: 10px 15px;
}

.hero-bottom-container {
    width: 80vw;
    max-width: 1440px;
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
}

.hero-btn-border {
    width: 100%;
    border-top: 1px solid #252323;
}

.hero-btn-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.moving-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #252323;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.section-left-heading {
    width: 100%;
    max-width: 80vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#bgSection3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(100%);
}

.bgSection-img {
    width: 30%;
}

.left-border {
    border-left: 2px solid #252323;
}

/* Media Queries */
@media (max-width: 991.98px) {
    .big-heading, h1 {
        font-size: xx-large;
    }
    li {
        font-size: x-large;
    }
}

@media (max-width: 576px) {
    .sides-wrapper {
        flex-direction: column;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .big-heading, li {
        font-size: 2rem;
    }

    .service-image, .fourth_section-img {
        width: 80%;
    }

    .image-for-side {
        width: 50%;
    }

    .left-side, .right-side {
        width: 100%;
    }

    .bgSection-img {
        display: none;
    }

    .fourth_section {
        flex-direction: column-reverse;
    }
}
